<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ipcSize" value="4096"/>
    <add key="ipcPath" value="Mocument_IPC"/>

    <add key="contextPath" value="Mocument_DB"/>
    <add key="proxyPort" value="81"/>
    <add key="proxyOpen" value="false"/>
  </appSettings>
</configuration>