<?xml version="1.0"?>

<configuration>

  <appSettings>
    <add key="ipcPath" value="Mocument_IPC" />
    <add key="ipcChannel" value="low" />

    <add key="contextPath" value="Mocument_DB" />
    <add key="proxyPort" value="81" />
    <add key="proxyLockDown" value="true" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>